body {
    background-color: rgb(60, 11, 80);

}

.my-container{
    width: 100vw;
    height: 100vh;
    
  }

.navbar {
    background-color: rgb(192, 188, 188);
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: aqua;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
  
}

a {
    color: white;
}

a:hover {
    color: #15bdff;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: white;
}

.navbar-brand {
    font-family: 'Rochester', cursive;
    font-size: 2rem;
    text-decoration: none;
    
}

#logo {
    width: 12rem;
    
}

h1 {
    font-family: Cinzel Decorative;
    font-size: 6.4vw !important;

}

p {
    color: white;
    text-align: center;
    font-family: 'Gayathri';
    font-size: 3.4vw !important;
}

footer {
    background-color: #343a40;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: aqua;
    padding: 2rem;

}



