<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img id="emote" src="assets/media/emote.png" routerLink="/home" class="card-img-top png mx-auto d-block"
            alt="emote">
        <h1 class="display-4">DRagOnSpaRX</h1>
        <p class="lead">Gamer • Chef • Artist</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="clips">
        <div class="col-sm-4">
            <div class="iframe-container">
                <iframe src="https://clips.twitch.tv/embed?clip=ThoughtfulWonderfulJaguarStrawBeary" frameborder="0"
                    scrolling="no" allowfullscreen="true">
                </iframe>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="iframe-container">
                <iframe src="https://clips.twitch.tv/embed?clip=GrossPowerfulPepperoniDeIlluminati" frameborder="0"
                    scrolling="no" allowfullscreen="true">
                </iframe>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="iframe-container">
                <iframe src="https://clips.twitch.tv/embed?clip=PoliteAltruisticStingrayOMGScoots" frameborder="0"
                    scrolling="no" allowfullscreen="true">
                </iframe>
            </div>
        </div>
    </div>
</div>
