
.jumbotron-fluid {
    background-image: url("src/assets/media/smoke.png");
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#dragon-title{
    font-family: Cinzel Decorative;
    color: white;

}

#dragon-subtitle {
    color: white;
    font-family: 'Raleway';
}

#emote {
    width: 12rem;
    border-radius: 50% !important;
    margin-bottom: 3%;
}

.embed-responsive {
    margin-top: 5%;
    margin-bottom: 5%;
} 